

/* Joseph Langdale  syles.css for Portfolio projects
    Udacity Full Stack Nano Degree    ver. 1       */

body {
  background-color: #FFF;
  line-height: 20px;
}

h1, h2, h3 {
  color: #292;
}

hr {
  width: 100%;
  height: 5px;
  background: #eee;
}

a:link {
  color: #292;;
}

a:visited {
  color: black;
}

header {
  padding-top: 20px;
}

header .flex-container {
  max-width: 1280px;
  display: flex;
  position: relative;
}

header .left-col{
  width: 35%;
  float: left;
}

header .logo img{
  display: inline-block;
  height: 100px;
  width: 100px;
}

header .right-col {
  margin-right: 10px;
  width: 80%;
  line-height: 20px;
  float: right;
  text-align: right;
}

header .right-col .title {
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

header .right-col .subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.flex-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 20px;
}

.main-image img {
  max-width: 99%;
}

/*--- FLEXBOX items container ---*/
#flex-items {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

#flex-items .projects {
  width: 30%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#flex-items .projects img{
  box-shadow: 8px 8px 10px #aaa;
}

p:first-letter{
    display:block;
    float:left;
    margin: 3px;
    color: #292;
    font-size: 300%;
}

#flex-items .projects .description{
  padding: 2%;
}

#flex-items .projects:nth-child(3n-1) {
  margin-right: 4%;
  margin-left: 4%;
}

footer {
  background-color: #EEE;
  display: flex;
  justify-content: center;
}

footer .footer-container {
  width: 1080px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .name {
  justify-content: flex-start;
  line-height: 10px;
}

footer .course-site  a{
  color: blue;
}

footer h3{
  font-size: 15px;
  color: black;
}

/* Media Breaks
-------------Small Screens < 601px -------------------------------- */
@media screen and (max-width: 600px)  {

  header .logo img{
    display: inline-block;
    height: 75px;
    width: 75px;
  }

  #flex-items .projects{
    width: 100%;
    margin-right: 0!important;
    margin-left: 0!important;
    margin-bottom: 20px;
}

  #flex-items .projects img{
    width: 99%;
  }
}

/*-------------- Intermediate Screens > 600px  & < 901px ------------- */
@media screen and (min-width: 601px) and (max-width: 900px)  {

  #flex-items .projects{
        width: 45%;
  }
  #flex-items .projects img{
    width: 100%;
  }
  #flex-items .projects:nth-child(odd) {
    margin-right: 5%;
    margin-left: 2%;
  }
  #flex-items .projects:nth-child(even) {
    margin-right: 0;
    margin-left: 0;
  }
}
